@font-face {
    font-family: notosan-black;
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Black.otf');
}

@font-face {
    font-family: notosan-bold;
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf');
}

@font-face {
    font-family: notosan-light;
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Light.otf');
}

@font-face {
    font-family: notosan-medium;
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf');
}

@font-face {
    font-family: notosan-regular;
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf');
}

@font-face {
    font-family: notosan-thin;
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Thin.otf');
}
body{
    font-family: notosan-thin;
}



.fz-12 {
    font-size: 12px;
}

.fz-13 {
    font-size: 13px;
}

.fz-14 {
    font-size: 14px;
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.w-100 {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}

.font-thin {
    font-family: notosan-thin;
}

.font-bold {
    font-family: notosan-bold;
}
.font-black {
    font-family: notosan-black;
}
.font-light {
    font-family: notosan-light;
}
.font-medium {
    font-family: notosan-medium;
}

.font-regular {
    font-family: notosan-regular;
}

.row-custom {
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.carousel-control-prev {
    opacity: 1;
}

.carousel-control-next {
    opacity: 1;
}

.text-header {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #B28A45 0%, #FEE767 66.98%);
}
.header, .header-mobile {
    background-color: #000;
}



/*------------------------------Content---------------------------------*/
.content .item{
    border: 1px solid #F7F7F7;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    /*width: 167px;*/
    /*height: 381px;*/
    /*margin: 0 4.5px 16px 4.5px;*/
}
.content .item .image{
    padding: 16px 20px 12px 21px;
}
.content .item .name{
    width: 126px;
    text-align: center;
    padding: 0;
    margin-left: 17px;
}
.content .item .dung-luong{
    margin-bottom: 17px;
    margin-top: 8px;
    justify-content: space-around;
}
.content .item .text{
    margin-right: 30px;
    color: #828282;
    font-weight: 600;
}
.content .item .dung-luong .sim-free{
    border: 1px solid #F7F7F7;
    border-radius: 6px;
    width: 96px;
    height: 23px;
    padding: 3px 8px;
    gap: 8px;
    font-weight: 600;
}
.content .item .dung-luong .price{
    border: 1px solid #F7F7F7;
    border-radius: 6px;
    color: #4f4f4f;
    font-weight: 600;


}
.content .item .new-price{
    margin-bottom: 12px;
    margin-left: 14px;
}

.content .item .old-price{
    margin-left: 14px;
}

.content .item .color{
    margin-top: 16px;
}

.content .item .color-code .list-group-item{
    border: none;
    padding: 5px;

}
.content .item .color-code .list-group-item .color-button{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}
.content .item .color-code .list-group-item.active{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #000;
    /*position: relative;*/
    padding: 2px;
    background-color: unset;
}
/*.content .item .color-code .list-group-item.active .color-button{*/
    /*padding: 0px;*/
    /*position: absolute;*/
    /*left: 2px;*/
    /*top: 2px;*/
/*}*/

/*------------------------------Filter---------------------------------*/
.filter{
    margin: 16px 0;
}
/*.filter .list-group li{*/
    /*width: 65px;*/
    /*height: 47px;*/
    /*margin-right: 5px;*/
    /*border-radius: 12px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*padding: 0;*/

/*}*/
.filter .filter-item{
    position: relative;

}
.filter .filter-item.active span{
    background: #000000;
    border-color: #000;
    color: #FEE767;
}
.filter .filter-item span{
    padding: 5px;
    border-radius: 12px;
    background: #F7F7F7;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.filter .list-group-horizontal>.list-group-item+.list-group-item {*/
    /*border-top-width: 1px;*/
    /*border-left-width: 1px;*/
/*}*/

/*.filter .list-group-horizontal>.list-group-item:first-child {*/
    /*border-radius: 12px;*/
/*}*/
/*.filter .list-group-horizontal>.list-group-item:last-child {*/
    /*border-radius: 12px;*/
/*}*/
/*------------------------------End Filter---------------------------------*/

.list-group .child {
    color: #000;
}


.text-content {
    height: 119px;
    background-color: #F7F7F7;;
    padding: 12px 16px;
    overflow: hidden;
}



@media only screen and (max-width: 576px) {

    .container-custom {
        /*background-color: red;*/
        height: 40px;
        padding: 0;
    }
    .text-header {
        height: 40px;
    }

    .text-header img {
        padding: 5px 3px 4px 28px;
    }

    .text-header p {
        margin-top: auto;
        margin-bottom: auto;
    }
    .filter .filter-item{
        max-width: 72px;
    }

    /*--------------------------Header------------------------------*/
    .header-mobile {
        height: 95px;
        display: block !important;
    }
    .banner-slide-moblie{
        display: block !important;
    }

    .header-mobile .offcanvas-start {
        width: 260px;
    }

    .header-mobile .offcanvas-title {
        height: 84px;
        background-color: #000;
    }

    .header-mobile .offcanvas-header {
        padding: 0;
    }

    .header-mobile .text-title {
        padding: 35px 0 23px 15px;
    }

    .header-mobile .navbar {
        display: block;
        padding: 16px 0 0 16px;
    }

    .header-mobile .navbar-toggler {
        border: none;
    }

    .header-mobile .navbar-toggler:focus {
        outline: none;
    }
    .header-mobile .padding-custom{
        padding: 0;
    }

    .header-mobile .address img {
        width: 13px;
        height: 14px;
        margin-top: 5px;
        margin-right: 5px;
    }

    .header-mobile .address span {
        width: 181px;
    }

    .header-mobile .phone img {
        width: 13px;
        height: 14px;
        margin-right: 5px;
    }

    .header-mobile .phone {
        margin-bottom: 10px;
    }

    .header-mobile .list-group .child {
        border: none;
    }

    .header-mobile .list-group .parent {
        box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
        margin-bottom: 16px;
        min-height: 54px;;
    }

    .header-mobile .list-group .parent img {
        position: absolute;
        top: 18px;
        right: 16px;
    }


    .header-mobile .list-group .list-group-item.active {
        background-color: unset;
        border-color: unset;
        padding: 0;
    }

    .header-mobile .list-group .list-group-item.active span {
        color: #000;
        background: linear-gradient(90deg, #B28A45 0%, #FEE767 66.98%);
        padding: 16px;
        width: 100%;
        display: block;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .header-mobile .list-group .list-group-item.active .list-group {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .header-mobile .list-group .list-group-item.active .child {
        padding: 11px 0 10px 16px;
        margin-bottom: 10px;
    }


    /*------------------------------End Header---------------------------------*/
    /*------------------------------Banner---------------------------------*/
    .banner-slide-mobile {
        height: 150px;
        background-color: yellow;
        display: block !important;
    }
    .banner-slide-mobile .carousel-item img {
        max-height: 150px;
    }

    .banner-slide-mobile .carousel-control-prev img {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .banner-slide-mobile .carousel-control-next img {
        position: absolute;
        right: 0;
        bottom: 0;
    }


    /*------------------------------End Banner---------------------------------*/






}

@media only screen and (min-width: 768px) {
    body{
        max-width: 1440px;
        margin: 0 auto;
    }
    .row {
        max-width: none !important;
    }
    .text-header {
        height: 42px;
        justify-content: center;
    }
    .text-header img {
        padding: 5px 3px 4px 28px;
    }

    .text-header p {
        margin-top: auto;
        margin-bottom: auto;
    }
    .header {
        height: 114px;
    }
    .header .navbar {
        display: none;
        padding: 16px 0 0 16px;
    }

    .filter .filter-item{
        max-width: 188px;
    }

    /*------------------------------*/
    .banner-slide{
        max-height: 344px;

    }
    .banner-slide .owl-carousel .owl-prev {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: white !important;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.16);
        position: absolute;
        top: 38%;
        left: 10.7%;
    }
    .banner-slide .owl-carousel .owl-prev span {
        font-size: 37px;
        position: absolute;
        top: -11px;
        left: 17px;
        font-weight: 600;
    }
    .banner-slide .owl-carousel .owl-next {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: white !important;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.16);
        position: absolute;
        top: 38%;
        right: 10.7%;
    }
    .banner-slide .owl-carousel .owl-next span {
        font-size: 37px;
        position: absolute;
        top: -11px;
        left: 17px;
        font-weight: 600;
    }

    .content .item .image{
        display: flex;
        justify-content: center;
        padding: 32px 37px 12px 37px;
    }

    .content .item .image img{
        width: 216px !important;
        height: 216px !important;
    }

    .content .item .image{
        display: flex;
        justify-content: center;
        padding: 32px 37px 12px 37px;
    }
    .content .item .dung-luong{
        justify-content: center;
    }
    .content .item .name {
        text-align: center;
        padding: 0;
        width: unset;
        margin: 0;
    }
    .content .item .new-price {
        justify-content: space-around;
    }
    .content .item .old-price {
        justify-content: space-around;
    }

    .content .item .new-price .number{
        color: #EB5757;
    }
    .content .item .old-price .number{
        color: #EB5757;
    }
    .text-content p{
        font-size: 14px;
    }


    .menu-bar .list-group .child {
        border: none;
    }

    .menu-bar .list-group .parent {
        box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
        margin-bottom: 16px;
        min-height: 54px;;
    }

    .menu-bar .list-group .parent img {
        position: absolute;
        top: 18px;
        right: 16px;
    }


    .menu-bar .list-group .list-group-item.active {
        background-color: unset;
        border-color: unset;
        padding: 0;
    }

    .menu-bar .list-group .list-group-item.active span {
        color: #000;
        background: linear-gradient(90deg, #B28A45 0%, #FEE767 66.98%);
        padding: 16px;
        width: 100%;
        display: block;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .menu-bar .list-group .list-group-item.active .list-group {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .menu-bar .list-group .list-group-item.active .child {
        padding: 11px 0 10px 16px;
        margin-bottom: 10px;
    }
    .item .color-code{
        margin-bottom: 10px;
    }
    .content .item .color-code .list-group-item {
        padding: 8px;
    }

    .filter .filter-item span{
        height: 47px;
        font-size: 16px;
    }
    /*---------------------------------*/
    .footer{
        background-color: #000;
        color: #fff;
    }
    .footer p{
        color: #4E4E4E;
    }
    .footer .copyright{
        color: #FEE767;
    }
}